<a href="https://colab.research.google.com/github/JesperHenriksen/PythonCheatSheet/blob/master/forLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loops

In [0]:
for i in range(0,10):
  print(i)

In [0]:
lst = [1,22,13,64,85,6,47,8,49,0]
for i in lst:
  print(i)

In [0]:
lst = [1,22,13,64,85,6,47,8,49,0]
for i, _ in enumerate(lst):
  print(i)

In [1]:
lst = [1,22,13,64,85,6,47,8,49,0]
for i, x in enumerate(lst):
  print(i, x)

0 1
1 22
2 13
3 64
4 85
5 6
6 47
7 8
8 49
9 0

In [7]:
lst = [
       [1, 22, 13, 64,   85,   6, 47, 8, 49, 0],
       [2,  3,  4, 12, 1213, 214, 56, 4, 10, 2]
      ]
for x, ls in enumerate(lst):
  for y, _ in enumerate(ls):
    print(x, y)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9

In [12]:
lst = [
       [1, 22, 13, 64,   85,   6, 47, 8, 49, 0],
       [2,  3,  4, 12, 1213, 214, 56, 4, 10, 2]
      ]
for x, ls in enumerate(lst):
  for y, _ in enumerate(ls):
    print(lst[x][y])

1
22
13
64
85
6
47
8
49
0
2
3
4
12
1213
214
56
4
10
2

In [15]:
lst = [
       [1, 22, 13, 64,   85,   6, 47, 8, 49, 0],
       [2,  3,  4, 12, 1213, 214, 56, 4, 10, 2]
      ]
for x, ls in enumerate(lst):
  for y, value in enumerate(ls):
    print(x, y, value)

0 0 1
0 1 22
0 2 13
0 3 64
0 4 85
0 5 6
0 6 47
0 7 8
0 8 49
0 9 0
1 0 2
1 1 3
1 2 4
1 3 12
1 4 1213
1 5 214
1 6 56
1 7 4
1 8 10
1 9 2